<mat-toolbar color="primary">
  <button (click)="drawer.toggle()" mat-icon-button *ngIf="userIsAuthenticated">
    <span class="material-symbols-outlined">
      menu
    </span>
  </button>
  <span></span>
  <span>
    <a routerLink="/dashboard">FileFlex</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated" routerLink="/create">
      <a mat-button routerLinkActive="mat-accent">New Document</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>

</mat-toolbar>
<mat-drawer-container class="h-con">
  <mat-drawer #drawer class="d-w" mode="over" position="start">
    <mat-nav-list (click)="drawer?.toggle()">
      <span [routerLink]="['/dashboard']"> <a routerLinkActive="active-link" mat-list-item> <span
            class="material-symbols-outlined">
            home
          </span> Dashboard</a></span>
      <span [routerLink]="['/create']"> <a routerLinkActive="active-link" mat-list-item><span
            class="material-symbols-outlined">
            add
          </span> New Documents</a></span>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>